<main>
  @if(categorias.length > 0) {

    <gbs-table [headers]="headers">
      @for (row of categorias; track row) {
        <tr>
          <!-- <td>
            <span>{{row.idCategoria}}</span>
          </td> -->
          <td>
            <span>{{row.nomeCategoria}}</span>
          </td>
          <td>
            <span></span>
          </td>
          <td class="butons">
            <gbs-button [border]="false" [color]="'yellow'" [fieldButton]="'field'" [icon]="'edit'"
            [size]="'small'" (click)="editarCategoria(row.idCategoria)"></gbs-button>
            <gbs-button [border]="false" [color]="'primary'" [fieldButton]="'field'" [icon]="'delete'"
            [size]="'small'" (click)="abrirModalExclusao(row.idCategoria)"></gbs-button>
            <gbs-button [border]="false" [color]="'secundary'" [fieldButton]="'field'" [icon]="' production_quantity_limits '"
            [size]="'small'" (click)="listarProdutosDestaCategoria(row.idCategoria)"></gbs-button>
          </td>
        </tr>
      }
    </gbs-table>
    <div class="paginator">
      <gbs-paginator [totalPages]="totalPages" (change)="passarPaginas($event)"></gbs-paginator>
    </div>
  } @else {
    <div class="vazio">
      <img src="../../../../../../../assets/img/vazio.png" alt="" width="400" height="600">
    </div>
  }
</main>
