@import '../../../../../assets/colors.scss';
main {
  display: flex;
  flex-direction: column;
  height: 87vh;
  margin: 0px 24px 0px 24px;
  // gap: 34px;

  app-listar-produtos,
  app-cadastrar-produtos,
  app-editar-produto {
    padding: 24px 0px;
    // height: 100%;
    overflow: auto;
  }
}
