<main>
  <form>
      <gbs-input [placeholder]="'Nome do Produto'" [icon]="'dns'" [control]="this.formCadastrarProduto.controls.nomeProduto" [type]="'text'"></gbs-input>
      <gbs-input [placeholder]="'Preço de Custo'" [icon]="'payments'" [control]="this.formCadastrarProduto.controls.precoCusto" [type]="'number'"></gbs-input>
      <gbs-input [placeholder]="'Preço de Venda'" [icon]="'sell'" [control]="this.formCadastrarProduto.controls.precoVenda" [type]="'number'"></gbs-input>
      <gbs-input [placeholder]="'Quantidade'" [icon]="'replay_10'" [control]="this.formCadastrarProduto.controls.quantidade" [type]="'number'"></gbs-input>
      <gbs-select select [placeholder]="'Selecione uma Categoria'" [control]="this.formCadastrarProduto.controls.categoria" [options]="optionsCategorias"></gbs-select>

  </form>
  <div class="actions">
    <gbs-button [disabled]="!this.formCadastrarProduto.valid" [label]="'Cadastrar'" [color]="'secundary'" (click)="cadastrarProduto()" [icon]="'add'"></gbs-button>
  </div>
</main>
