<main>
  <div class="chips">
    <gbs-chips [label]="'Todos'" [active]="activeChip == null" [icon]="'list'" (click)="alterarChip(null)"></gbs-chips>
    <gbs-chips [label]="'Bolsas Masculinas'" [active]="activeChip === 'Bolsas Masculinas'" [icon]="'work'" (click)="alterarChip('Bolsas Masculinas')"></gbs-chips>
    <gbs-chips [label]="'Bolsas Femininas'" [active]="activeChip === 'Bolsas Femininas'" [icon]="'shopping_bag'" (click)="alterarChip('Bolsas Femininas')"></gbs-chips>
    <gbs-chips [label]="'Malas'" [active]="activeChip === 'Malas'" [icon]="'travel_luggage_and_bags'" (click)="alterarChip('Malas')"></gbs-chips>
    <gbs-chips [label]="'Carteiras'" [active]="activeChip === 'Carteiras'" [icon]="'summarize'" (click)="alterarChip('Carteiras')"></gbs-chips>
  </div>

  @if (body.length > 0) {
    <gbs-table [headers]="headers">
      @for (row of body; track row) {
        <tr>
          <!-- <td>
            <span></span>
          </td> -->
          <td>
            <span>{{row.nomeProduto}}</span>
          </td>
          <td>
            <span>{{row.precoVenda}}</span>
          </td>
          <td>
            <span>{{row.precoCompra}}</span>
          </td>
          <td>
            <span>{{row.quantidade}}</span>
          </td>
          <td>
            <span>{{row.categoria.nomeCategoria}}</span>
          </td>
          <td class="butons">
            <gbs-button [border]="false" [color]="'yellow'" [fieldButton]="'field'" [icon]="'edit'"
            [size]="'small'"></gbs-button>
            <gbs-button [border]="false" [color]="'primary'" [fieldButton]="'field'" [icon]="'delete'"
            [size]="'small'" (click)="abrirModalDeletarProduto(row.idProduto)"></gbs-button>
          </td>
        </tr>
      }
    </gbs-table>
    <div class="paginator">
      <gbs-paginator [totalPages]="totalPages" (change)="passarPaginas($event)"></gbs-paginator>
    </div>
  } @else {
    <div class="vazio">
      <img src="../../../../../../../assets/img/vazio.png" alt="" width="400" height="600">
    </div>
  }
  </main>
