<div class="input" [style.border-color]="control.value ? '#F44336' : '#000'">

  @if (type === 'select') {

  <select [formControl]="control">
    @for(option of options; track option) {
    <option value="{{option.value}}">{{option.label}}</option>
    }

  </select>

  } @else {
  <div class="input-wrapper">
    <input [type]="type" [formControl]="control" [placeholder]="isFocused ? placeholder : ''">
    <label [class.active]="isFocused || control.value">{{ placeholder }}</label>
  </div>
  }

  <span class="material-symbols-outlined color-icon">
    {{icon}}
  </span>
</div>
