<main>
  <div class="logo">
     <div class="title">
       <p>Lojas <strong>R&A</strong></p>
       <p>Nacionais e Importados</p>
       <div class="label">
         <h3>Viaje com estilo, carregue suas histórias.</h3>
         <h3>Escolha a bolsa perfeita para cada aventura!</h3>
        </div>
     </div>
  </div>
  <div class="content">
    <div class="form">
      <div class="img">
        <img src="../../assets/img/RA-logo.png" alt="">
      </div>
      <p><strong>Olá,</strong> Bem Vindo</p>
      <gbs-input [placeholder]="'Username'" [icon]="'face'" [control]="formLogin.controls.username" [type]="'text'"></gbs-input>
      <gbs-input [placeholder]="'Password'" [icon]="'key'" [control]="formLogin.controls.password"[type]="'password'"></gbs-input>
      <gbs-button [label]="'Entrar'" [color]="'primary'"[fieldButton]="'field'" [icon]="'login'" (click)="login()"></gbs-button>
    </div>
    <div class="footer">
      <p>Caso ainda não tenha uma conta, &nbsp; <strong><a (click)="register()">Cadastra-se !</a></strong></p>
    </div>
  </div>
</main>
