<main>
  <div class="chips">
    <gbs-chips [label]="'Todos'" [active]="activeChip === 'Todos'" [icon]="'list'"
      (click)="alterarChip('Todos')"></gbs-chips>
    <gbs-chips [label]="'Ativos'" [active]="activeChip === 'Ativos'" [icon]="'task_alt'"
      (click)="alterarChip('Ativos')"></gbs-chips>
    <gbs-chips [label]="'Inativos'" [active]="activeChip === 'Inativos'" [icon]="'person_off'"
      (click)="alterarChip('Inativos')"></gbs-chips>
  </div>

  @if (body.length > 0) {
  <gbs-table [headers]="headers">
    @for(row of body; track row){
    <tr>
      <td>
        <span>{{row.nomeCompleto}}</span>
      </td>
      <td>
        <span>{{row.email}}</span>
      </td>
      <td>
        <span>
          <gbs-status [status]="row.statusUsuario"></gbs-status>
        </span>
      </td>
      <td>
        <span>{{ retornarPermissao(row.permissao) }}</span>
      </td>

      <td class="butons">
        <gbs-button [border]="false" [color]="'yellow'" [fieldButton]="'field'" [icon]="'edit'"
          [size]="'small'"></gbs-button>
        <gbs-button [border]="false" [color]="'primary'" [fieldButton]="'field'" [icon]="'person_off'"
          [size]="'small'" (click)="abrirModalDesativarUsuario(row.userId)"></gbs-button>
      </td>
    </tr>
    }
  </gbs-table>

  <div class="paginator">
    <gbs-paginator [totalPages]="totalPages" (change)="passarPaginas($event)"></gbs-paginator>
  </div>
  } @else {
  <div class="vazio">
    <img src="../../../../../../../assets/img/vazio.png" alt="" width="400" height="600">
  </div>
  }
</main>
