<main>
  <gbs-tabs [tabs]="tabs" (change)="retornarValorTab($event)"></gbs-tabs>

  @switch (tabSelecionada) {
    @case ("listar-categorias") {
      @switch (mostrarComponent) {
        @case ('listar-produtos-categoria') {
          <app-produtos-categoria [idCategoria]="this.idCategoria"></app-produtos-categoria>
        }
        @case ('editar-categoria') {
          <app-editar-categoria [idCategoria]="this.idCategoria"></app-editar-categoria>
        }
        @case('app-listar-categorias') {
          <app-listar-categorias></app-listar-categorias>
        }
      }
    }
    @case ("cadastrar-categoria") {
      <app-cadastrar-categoria></app-cadastrar-categoria>
    }
  }
</main>
