@import '../../assets/colors.scss';

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 16px;
  overflow-y: scroll;
}

.table th {
  color: #000;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 900;
  width: 150px;
}


.table th,
.table td {
  padding: 24px;
  text-align: left;
}


.table td {
  padding: 24px;
  text-align: left;
  background-color: #F3F4F3;

  &:first-child {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
  }

  &:last-child {
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 100%;
  }
}
