<table class="table">
  <thead>
    <tr>
      @for(item of headers; track item) {
      <th>
        <span>
          {{ item}}
        </span>
      </th>
      }
    </tr>
  </thead>
  <tbody>
    @for(row of body; track row){
    <tr>
      <td>
        <span>{{row.id}}</span>
      </td>
      <td>
        <span>{{row.nome}}</span>
      </td>
      <td>
        <span>{{row.email}}</span>
      </td>
      <td>
        <span>{{row.status}}</span>
      </td>
      <td>
        <span>{{row.tipo}}</span>
      </td>
    </tr>
    }
  </tbody>
</table>
