@import '../assets/colors.scss';

main {
  display: flex;
  flex-direction: row;
  background-color: $color-black;
  // gap: 20px;

  div {
    border-radius: 32px 0 0 32px;
    background-color: $color-brand-white;
    width: 100%;
    overflow: auto;
  }
  // background-color: $color-black;
}
