@import '../../assets/colors.scss';

main {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: $color-brand-white;
  border-radius: 32px 0 0 32px;
  gap: 18px;

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gbs-input {
      width: 30%;
    }
  }
}
