$color-primary: #FF3131;
$color-secondary: #FFC2C2;
$color-black: #0C0C0C;
$color-yellow: #FFAC33;
$color-yellow-secondary: #FFD983;
$color-off-white: #F3F4F3;
$color-white: #FBFBFB;
$color-brand-white: #FDFEFE;
$color-gray-scale-60: #6A6A66;
$color-sucesso: #00CA2C;
$color-error: #EE0D43;
