$color-red: #F44336;
$color-black: #0C0C0C;
$color-secondary: #FFC2C2;
$color-off-white: #F3F4F3;
$color-White: #FBFBFB;
$color-brand-white: #FDFEFE;
$color-gray-scale-60: #6A6A66;
$color-sucesso: #00CA2C;
$color-error: #EE0D43;
