<main>
  <div class="main-tabs" [ngStyle]="{'border-bottom': 'solid 1px #f44336'}">
      <div class="tabs">
          @for(item of tabs; track item) {
              <div [ngClass]="{selected: item.selected}" class="tab" (click)="chosen(item, $index)">
                  <span class="material-symbols-outlined">
                      {{ item.icon }}
                  </span>
                  <span class="label">{{ item.label }}</span>
              </div>
          }
      </div>
  </div>
</main>
