@import '../../../../../../../assets/colors.scss';

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0px;
  gap: 24px;

  .form-esqueda,
  .form-direita {
    height: 100%;
    width: 100%;
  }

  .form-direita > gbs-select {
    height: 500px;
  }
}

  td {
    padding: 24px;
    text-align: left;
    background-color: #F3F4F3;

    &:first-child {
      border-top-left-radius: 24px;
      border-bottom-left-radius: 24px;
    }

    &:last-child {
      border-bottom-right-radius: 24px;
      border-top-right-radius: 24px;
      display: flex;
      flex-direction: row;
      gap: 24px;
      height: 100%;
      justify-content: center;
    }
  }

.totalVenda > span {
  padding: 14px;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  // width: 100%;
  height: auto;
  color: $color-white;
  font-size: 24px;
  background-color: $color-black;

}
