<main>
  <div class="form-esqueda">
    <gbs-input-select [control]="formVenda.controls.produto" [icon]="'search'" [type]="'text'" type="'select'"
      (produtoSelecionado)="produtoSelecionado($event)" [placeholder]="'Pesquisar Produto'"></gbs-input-select>
  </div>
  <div class="form-direita">
    <gbs-select [placeholder]="'Formas de Pagamento'" [options]="optionsPermissao"
      [control]="formVenda.controls.metodoPagamento"></gbs-select>
  </div>
</main>
<br>
<br>
@if(this.produtosSelecionados.length > 0) {

  <gbs-table [headers]="headers">
    @for (row of produtosSelecionados; track row) {
      <tr>
        <td>
          <span>{{row.nomeProduto}}</span>
        </td>
        <td>
          <span>{{row.precoVenda}}</span>
        </td>
        <td>
          <span>{{row.precoCompra}}</span>
        </td>
        <td class="butons">
          <gbs-button [border]="false" [color]="'primary'" (click)="removerProdutoDaLista(row)" [fieldButton]="'field'" [icon]="'delete'"
          [size]="'small'"></gbs-button>

        </td>
      </tr>
    }
  </gbs-table>
}
