/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
* {
  font-family: 'Poppins';
  padding: 0px;
  margin: 0px;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
