@import '../../assets/colors.scss';
div {
  // border: 2px solid $color-yellow;
  // padding: 8px;
  // border-radius: 100%;

  padding: 12px;
  // gap: 10px;
  border-radius: 1000px;
  border: solid 3px $color-primary;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}
